<form class="form-signin" [formGroup]="validatingForm">
    <p class="h5 text-center mb-4">Sign in</p>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

    <!--[ngClass]="{ 'has-error': f.submitted && !username.valid }"-->

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" class="form-control" name="username" id="username" #username [(ngModel)]="user.username"
               formControlName="controlUsername" mdbActive
               [ngClass]="{ 'has-error': validatingForm.controls['controlUsername'].touched.valueOf() && !validatingForm.get('controlUsername').valid.valueOf() }"/>
        <label for="username">Username or Email</label>
        <div *ngIf="validatingForm.controls['controlUsername'].touched">
            <div class="alert alert-danger"
                 *ngIf="validatingForm.controls['controlUsername'].errors?.required">Please enter username
            </div>
        </div>
    </div>


    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password"
               formControlName="controlPassword" mdbActive
               [ngClass]="{ 'has-error': validatingForm.controls['controlPassword'].touched.valueOf() && !validatingForm.get('controlPassword').valid.valueOf() }"/>
        <label for="password">Password</label>
        <div *ngIf="validatingForm.controls['controlPassword'].touched">
            <div class="alert alert-danger"
                 *ngIf="validatingForm.controls['controlPassword'].errors?.required">Please enter password
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange waves-light" type="submit" (click)="login()">Sign in</button>
        <button type="button" class="btn btn-default waves-light" [routerLink]="['/registration']" mdbRippleRadius>
            Create new Account!
        </button>
    </div>
</form>

