<button class=".btn btn-primary" (click)="createModal.open()">Create rig</button>

<app-create-rig #createModal (onCreateRig)="updateRigList($event)" [configs]="configs"></app-create-rig>
<app-delete-rig #deleteModal (onDeleteRig)="updateRigList($event)"></app-delete-rig>
<app-edit-rig #editModal (onEditRig)="updateRigList($event)" [configs]="configs"></app-edit-rig>

<app-alert *ngFor="let alert of alertsStatusCode" [alert]="alert" [typeEntity]="'Rig'"></app-alert>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Rigs datatable</h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-inverse table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Status</th>
                        <th>minerConfig</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let rig of rigs">
                        <td>{{rig.id}}</td>
                        <td>{{rig.name}}</td>
                        <td>{{rig.password}}</td>
                        <td>{{rig.status.stats}}</td>
                        <td>{{rig.minerConfig | appMinerConfigPipe}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm waves-light" (click)="editModal.open(rig)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm waves-light" (click)="deleteModal.open(rig.id)">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





