
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>
      <li class="active"  ><a [routerLink]="['/rigs']" class="btn btn-link">Your rigs</a></li>
      <li class="active"  ><a [routerLink]="['/rigs/create']" class="btn btn-link">Create new rig!</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOutFromProfile()">LogOut</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">  <strong>{{currentUser}}</strong>, Welcome to your app </h1>
    <p class="lead"> welcome to your profile
    </p>
    <div class="row">
    </div>
  </header>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  <hr>

  <pre>{{closeResult}}</pre>
</div>





