<div mdbModal #editModal="mdb-modal" class="modal fade" id="modalSubscription" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-newspaper-o"></i> Update config</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                        (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mb-0">
                <form [formGroup]="validatingForm">
                    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

                    <div class="md-form">
                        <input mdbActive type="text" id="editModalForm1" class="form-control"
                               data-error="Please enter config name" data-success="OK"
                               formControlName="requiredConfigName" [(ngModel)]="editingConfig.name">
                        <label for="editModalForm1">Required validator</label>
                        <div *ngIf="validatingForm.controls['requiredConfigName'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="validatingForm.controls['requiredConfigName'].errors?.required">Please enter config name
                            </div>
                        </div>
                    </div>

                    <div class="md-form">
                        <select mdbActive id="editModalForm2" class="form-control"
                                data-error="Please select miner" data-success="OK"
                                formControlName="requiredConfigMiner" [(ngModel)]="editingConfig.minerId"
                                (change)="setDefaultConfigCommandLine($event.target.selectedIndex)">
                            <option *ngFor="let miner of miners" [ngValue]="miner.id">
                                {{miner.name}}
                            </option>
                        </select>
                        <label for="editModalForm2">Choose miner</label>
                        <div *ngIf="validatingForm.controls['requiredConfigMiner'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="validatingForm.controls['requiredConfigMiner'].errors?.required">Please select miner
                            </div>
                        </div>
                    </div>

                    <div class="md-form">
                        <input mdbActive type="text" id="form3" class="form-control"
                               data-error="Please enter commandLine" data-success="OK"
                               formControlName="requiredConfigCommandLine" [(ngModel)]="editingConfig.commandLine">
                        <label for="form3">Enter commandLine</label>
                        <div *ngIf="validatingForm.controls['requiredConfigCommandLine'].touched">
                            <div class="alert alert-danger"
                                 *ngIf="validatingForm.controls['requiredConfigCommandLine'].errors?.required">Please enter commandLine
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="editConfig(editingConfig)" [disabled]="!validatingForm.valid">
                        Update Config
                    </button>
                    <button class="btn btn-lg btn-danger btn-block btn-cancel" type="button"
                            (click)="editModal.hide()">
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
