<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-xl navbar-light orange darken-4">

  <!-- Navbar brand -->
  <logo class="bounce infinite animated"><a class="navbar-brand" style="cursor: default">MRS</a></logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['/system/rigs']" mdbRippleRadius>Rigs</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['/system/configs']" mdbRippleRadius>Configs</a>
      </li>

     <!-- &lt;!&ndash; Dropdown &ndash;&gt;
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
        </div>
      </li>-->

    </ul>
    <!-- Links -->
    <ul class="navbar-nav">
      <li>
        <a class="nav-link waves-light">{{currentUser}}</a>
      </li>
      <li>
        <a class="nav-link waves-light" (click)="logOutFromProfile()"><i class="fa fa-sign-out prefix"></i> LogOut</a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
