
<button class=".btn btn-primary" (click)="createModal.open()">Create rig</button>

<app-create-rig #createModal (onCreateRig)="updateRigList($event)"></app-create-rig>

<app-delete-rig #deleteModal (onDeleteRig)="updateRigList($event)"></app-delete-rig>

<app-edit-rig #editModal (onEditRig)="updateRigList($event)"></app-edit-rig>

<app-alert *ngFor="let alert of alertsStatusCode" [alert]="alert" [typeEntity]="'Rig'"></app-alert>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Rigs datatable</h4>
        <div class="table-responsive">
          <table id="mytable" class="table table-inverse table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Password</th>
              <th>Status</th>
              <th>minerConfig</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rig of rigs">
              <td>{{rig.id}}</td>
              <td>{{rig.name}}</td>
              <td>{{rig.password}}</td>
              <td>{{rig.status}}</td>
              <td>{{rig.minerConfig}}</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                          (click)="editModal.open(rig)">
                    <i class="fa fa-edit"></i>
                  </button>
                </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                          (click)="deleteModal.open(rig.id)">
                    <i class="fa fa-remove"></i>
                  </button>
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>





